.app {
  text-align: center;
}

.btn {
  background-color: black;
  border-color: #e0d7d7;
  border-width: 1px;
  color: white;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}
